::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #0e1a2d; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #1e293b; 
    border-radius: 10px;
  }


  ::-webkit-scrollbar-thumb:hover {
    background: #0f3c86; 
  }